    <div style="display:block">
    <a href="#/new"><span class="wsite-button-inner">签署</span></a>
    </div>

    <div style="display:inline-block;vertical-align: top;">
    
    <div ng-repeat="project in projects | modulo:5:0 " style="display:block">
    <a href="mailto:{{project.email}}" title="{{project.description}}" target="_blank">{{project.name}}</a>
    </div>
    </div>

    <div style="display:inline-block;vertical-align: top;">
    <div ng-repeat="project in projects | modulo:5:1 " style="display:block">
    <a href="mailto:{{project.email}}" title="{{project.description}}" target="_blank">{{project.name}}</a>    
    </div>
    </div>

    <div style="display:inline-block;vertical-align: top;">
    
    <div ng-repeat="project in projects | modulo:5:2 " style="display:block">
    <a href="mailto:{{project.email}}" title="{{project.description}}" target="_blank">{{project.name}}</a>
    </div>
    </div>

    <div style="display:inline-block;vertical-align: top;">
    
    <div ng-repeat="project in projects| modulo:5:3 "  style="display:block">
    <a href="mailto:{{project.email}}" title="{{project.description}}" target="_blank">{{project.name}}</a>
    </div>
    </div>

    <div style="display:inline-block;vertical-align: top;">
    
    <div ng-repeat="project in projects | modulo:5:4 "  style="display:block">
    <a href="mailto:{{project.email}}" title="{{project.description}}" target="_blank">{{project.name}}</a>    
    </div>
    </div>

